<header class="header">
  <div class="container">
  <a  class="logo">Company</a>
  <div class="header__right">
    <button class="header__search"></button>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">Portfolio</a></li>
        <li class="nav__item"><a href="" class="nav__link">Team</a></li>
        <li class="nav__item"><a href="" class="nav__link">About</a></li>
        <li class="nav__item"><a href="" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
      </ul>
    </nav>
  </div>
  </div>
</header>
